.appointment-body{
    background-color: var(--bg-gray) !important;

    .card-list{
        overflow: hidden;
        margin: 0 auto;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: center;
        li{
            border: 2px solid var(--border-dark);
            width: 210px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 8px;
            float: left;
            list-style: none;
            margin: .4rem;
            cursor: pointer;
            p{
                font-size: 1rem;
                text-align: center;
                margin-top: 1rem;
                color: var(--text-color-gray);     
                height: 38px; 
            }
            svg{
                margin-top: 2rem;
                fill: var(--text-color-gray);      
            }
            &:hover, &.active{
                border: 2px solid var(--border-dark);
                background: var(--bg);
                p{
                    color: var(--text-secondary);     
                }
                svg{
                    fill: var(--text-secondary);      
                }
            }
        }
    }

    .appointment-form{
        max-width: 600px;
        margin: 0 auto;
        padding:3rem 2rem;
        background: var(--bg);
        border-radius: 10px;
        input{
            background-color: var(--bg-gray);
            height: 44px;
        }
        .select, .select-styled {
            background-color: var(--bg-gray) !important;
            border: 1px solid $gray-300 !important;
            border-radius:4px;
        }
            
    }

}
